.acordeon{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid white;
    border-radius: 1rem;
    transition: .25s;
}

.acordeon.aberto,
.acordeon:hover{
    background-color: #55569E;
    border-color: #55569E;
}

.acordeon .acionar{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}
.acordeon .acionar:hover{
    cursor: pointer;
}

.acordeon .acionar::after{
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://diegoalmeidaramos.github.io/portfolio/assets/img/icones/seta.svg');
    transition: .25s;
    transform: rotate(180deg);
}


.acordeon.aberto .acionar::after{
    transform: rotate(360deg);
}

.acordeon .conteudo{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.acordeon.aberto .conteudo{
    display: block;
    height: auto;
    opacity: 1;
    padding: 0 1rem 1rem 2rem;
}