.habilidades{
    display: flex;
    flex-direction: column;
}

.habilidades .ferramentas ul{  
    list-style:none;
    justify-content:flex-start;    
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    

    
  }

.habilidades .ferramentas ul li img{
  max-width: 50px;
  margin: 0.5rem;  

}

