.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li {
    
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    margin: 1rem 0 ;
}

.portfolio li .enunciado{
    font-weight: 700;
}
.portfolio li a{
    color: white;
    text-decoration: none;
}
.portfolio li a:hover{
    color: white;
    text-decoration: underline;
}






