.sobreDiego{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
 
}

.tituloSobre{
    font-weight: 600;
    
}

.sobreDiego li{
    margin-bottom: 1rem;
}